<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <h1>Table 1</h1>
    <p> Hand:<font size="50">{{  hand }}</font></p>
    <p> stack card(s) remaining:{{  stack }}</p>
    <li>{{ hand_name }}</li>
    <button type="submit" value={{bet}} name='mybtn1'>Bet</button>
    <button type="submit" value={{burn}} name='mybtn2'>Burn</button>
    <button type="submit" value={{pass}} name='mybtn3'>Pass</button>

</body>
</html>