<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <h1>Table 1</h1>
    <p> Table Chat: {{ log }}</p>>
    <p> {{  phase }}</p>
    <p> Hand:<font size="50">{{  user_hand }}</font></p>

    <p> stack card(s) remaining:{{  user_stack_length }}</p>
    <li>{{ hand_name }}</li>
    <button type="submit" value={{bet_button}} name='mybtn1'>Bet</button>
    <button type="submit" value={{burn_button}} name='mybtn2'>Burn</button>
    <button type="submit" value={{fold_button}} name='mybtn3'>Fold</button>
    <button type="submit" value={{swap_button}} name='mybtn3'>Swap</button>
    <button type="submit" value={{pass_button}} name='mybtn4'>Pass</button>

</body>
</html>